@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  height: 100%;
  h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
  }
  #regform {
    background-color: rgb(85, 85, 85);
    padding: 3rem;
    width: 26.3rem;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(70, 70, 70);
    h4 {
      color: red;
      padding: 0.3rem;
      border-radius: 4px;
      background-color: rgb(214, 214, 214);
      margin-bottom: 1rem;
    }
    label {
      font-size: 1.2rem;
      color: white;
      padding-bottom: 0.2rem;
    }
    input {
      width: 20rem;
      padding: 0.5rem;
      margin-bottom: 0.7rem;
    }
    button {
      padding: 0.7rem;
      margin-top: 1rem;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem 0 0;
      align-self: flex-end;
    }
  }
}
