main {
  margin: 6rem 0;
  background-color: grey;
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 3rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    h2 {
      text-align: center;
      color: white;
      padding-right: 3rem;
    }
    li {
      display: flex;
      color: white;
      gap: 2rem;
      img {
        height: 12rem;
      }
    }
  }
  h4 {
    text-align: center;
    color: rgb(207, 0, 0);
    flex: 1;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: flex-end;
    margin-top: 3rem;
  }
}
