* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  height: 100%;
  h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
  }
  #loginform {
    background-color: rgb(85, 85, 85);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(70, 70, 70);
    label {
      font-size: 1.2rem;
      color: white;
      padding-bottom: 0.2rem;
    }
    input {
      width: 20rem;
      padding: 0.5rem;
      margin-bottom: 0.7rem;
    }
    button {
      padding: 0.7rem;
      margin-top: 1rem;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem 0 0;
      align-self: flex-end;
    }
  }
}
